$font:myriad-pro, sans-serif;
$font-mons:'Montserrat', sans-serif;

body {
  margin: 0px;
  padding: 0px;
  font-family: $font ;
  background: #000000;
}

.header_outer {
  background: #4ba8ad;
  min-width: 360px;
  .header_inner {
    max-width: 865px;
    margin: -1px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    .logo {
      width: 140px;
      height: 50px;
      background: url("../images/logo.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    .login_form {
      form {
        input {
          width: 100px;
          background: rgba(0, 0, 0, 0.36);
          border: none;
          border-radius: 2px;
          padding: 5px;
          outline: none;
          font-size: 11px;
          color: #e1e1e1;
          &::placeholder {
            color: #e1e1e1;;
            font-size: 11px;
          }
          &::-webkit-input-placeholder {
             color: #e1e1e1;;
            font-size: 11px;
          }
          &::-moz-placeholder {
             color: #e1e1e1;;
            font-size: 11px;
          }
          &:-ms-input-placeholder {
             color: #e1e1e1;;
            font-size: 11px;
          }
          &:-moz-placeholder {
             color: #e1e1e1;;
            font-size: 11px;
          }
        }
        button {
          background: #fff;
          color: #4ba8ad;
          border: none;
          padding: 3px;
          border-radius: 2px;
          cursor: pointer;
          outline: none;
          font-weight: 600;
        }
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        a {
          background: transparent;
          border: none;
          color: yellow;
          font-size: 12px;
          font-weight: 600;
          cursor: pointer;
          padding: 0px;
        }
      }
    }
    .mobile_menu {
      background: url("../images/mobile/burger.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      display: none;
      border: none;
    }
    .close_mob_menu {
      border: none;
      display: none;
      background: url("../images/mobile/close.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
    }
  }
  @media (max-width: 1650px) {
    .header_inner {
      max-width: 700px;
    }
  }
  @media (max-width: 1366px) {
    .header_inner {
      max-width: 625px;
      .logo {
        width: 100px;
      }
    }
  }
  @media (max-width: 1170px) {
    .header_inner {
      max-width: 500px;
      .login_form {
        form {
          padding: 2px;
        }
        .buttons {
          button {
            font-size: 10px;

          }
        }
      }
    }
  }
  @media (max-width:650px) {
    .header_inner {
      .login_form {
        display: none;
      }
      .mobile_menu {
        display: flex;
        border: none;
      }
    }
  }
}
.content_outer {
  min-width: 360px;
  background: url(../images/background/fon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
  position: relative;
  overflow: hidden;
  padding-bottom: 200px;
  @media (max-width: 1500px) {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }
  @media (max-height: 1000px) {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }

  h3 {
    margin: 0px;
    padding: 0px;
  }
  .players {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%) ;
    width: 865px;
    height: 100%;
    .bask_player {
      background: url("../images/background/Basketbolis.png");
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
      width: 500px;
      height: 550px;
      position: absolute;
      left: -380px;
      top: 15px;
      z-index: 5;
    }
    .foot_player {
      background: url("../images/background/Futbolist.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      width: 500px;
      height: 550px;
      position: absolute;
      right: -415px;
      top: 50px;
      z-index: 5;
    }
    .big_yellow_line {
      width: 1500px;
      position: absolute;
      z-index: 0;
      bottom: 95px;
      right: -235px;
      height: 100px;
      animation: big_line 2s;
      img {
        width: 100%;
      }
    }
    .big_white_line {
      position: absolute;
      z-index: 0;
      bottom: 75px;
      left: -210px;
      animation: big_line 2s;
      width: 1500px;
      img {
        width: 100%;
      }
    }
    .small_line_left {
      position: absolute;
      z-index: 0;
      top: 70px;
      left: -350px;
      height: 100px;
      overflow: hidden;
      animation: show_line 1s;
    }
    .small_line_right {
      position: absolute;
      z-index: 0;
      top: 50px;
      right: -490px;
      height: 100px;
      img {
        animation: show_line 1s;
      }
    }
  }
  .content_inner {
    max-width: 865px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.21), #000);
    padding: 10px;
    position: relative;
    z-index: 10;
    .mob_login_form {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      right: 50%;
      top: 2px;
      background: rgba(31, 31, 31, 0.96);
      z-index: 10;
      width: 90%;
      padding: 15px 5px;
      transform: translate(50%,0%);
      &::after {
        content: '';
        position: absolute;
        top: 23px;
        left: 0px;
        width: 100%;
        height: 1px;
        background: #4a4b4a;
      }
      &::before {
        content: '';
        position: absolute;
        top: 111px;
        left: 0px;
        width: 100%;
        height: 1px;
        background: #4a4b4a;
      }
      .mob_join {
        background: #ffff00;
        color: #000;
        font-size: 20px;
        font-weight: 700;
        font-family: $font-mons;
        border: none;
        padding: 5px 10px;
        border-radius: 1px;
        margin-top: 25px;
      }
      .mob_log_in {
        background: transparent;
        border: none;
        color: #b7b5b5;
        font-family: $font-mons;
        font-size: 14px;
        font-weight: 700;
        margin: 10px 0px;
        outline: none;
      }
      .mobile_login {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px 0px;
        overflow: hidden;
        height: 0px;
        transition: height 0.5s;
        h4 {
          font-family: $font-mons;
          font-size: 12px;
          color: #ffff00;
          margin: 5px 0px;
        }
        input {
          background: rgba(255, 255, 255, 0.88);
          border: none;
          border-radius: 2px;
          margin: 4px 0px;
          padding: 10px 5px;
          outline: none;
          width: 90%;
          &::placeholder {
            color: #383838;
            font-size: 13px;
            font-weight: 500;
            text-align: center;
          }
          &::-webkit-input-placeholder {
            color: #383838;
            font-size: 13px;
            font-weight: 500;
            text-align: center;
          }
          &::-moz-placeholder {
            color: #383838;
            font-size: 13px;
            font-weight: 500;
            text-align: center;
          }
          &:-ms-input-placeholder {
            color: #383838;
            font-size: 13px;
            font-weight: 500;
            text-align: center;
          }
          &:-moz-placeholder {
            color: #383838;
            font-size: 13px;
            font-weight: 500;
            text-align: center;
          }
        }
        .mob_go {
          background:#4ba8ad ;
          color: #ffff00;
          padding: 7px 0px;
          border-radius: 2px;
          border: none;
          width: 93%;
          font-size: 19px;
          font-weight: 600;
          margin-top: 5px;
        }
        .mob_buttons {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          margin: 5px 0px;
          .mob_lost_log{
            border: none;
            font-weight: 600;
            outline: none;
            background: transparent;
            color: #ffff00;
            border-bottom: 1px solid #ffff00;
          }
        }
      }
      .mob_login_form_show {
        transition: height 0.5s;
        height: 200px;
      }
      .mobile_lang_outer {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        span {
          font-family: $font-mons;
          font-size: 12px;
          font-weight: 500;
          color: #afafaf;
          margin: 10px 0px;
        }
        .dd-container {
          color: #ffffff;
          width: 120px !important;
          font-family: $font-mons;
          font-size: 12px;
          .dd-select {
            padding: 5px;
            width: 120px !important;
            position: relative;
            &::after {
              content: '';
              width: 10px;
              height: 10px;
              background: url("../images/arrows/down_white.png");
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              position: absolute;
              z-index: 0;
              right: 35px;
              top: 7px;
              transform: rotate(0deg);
              transition: transform 0.3s;
            }
            .dd-selected {
              display: flex;
              flex-direction: row-reverse;
              justify-content: space-between;
              align-items: center;
            }
          }
          .dd-options {
            list-style-type: none;
            overflow-y: scroll !important;
            background: rgba(75, 168, 173, 0.91);
            height: 150px!important;
            width: 130px !important;
            padding: 0px;
            margin: 0px;
            &::-webkit-scrollbar {
              width: 5px;
            }
            &::-webkit-scrollbar-thumb {
              background: #2b7a7e;
              border-radius: 5px;
            }
            li {
              padding: 2px;
              height: 20px;
              .dd-option {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                cursor: pointer;
              }
              &:hover {
                background: #2b7a7e;
              }
              .dd-option-selected {
                background: #2b7a7e;
              }
            }
          }
        }
      }
    }
    .slider_outer {
      position: relative;
      .effects {
        opacity: 0;
        max-width: 300px;
        margin: 0px auto;
        position: relative;
        .left_effect, .right_effect {
          position: absolute;
        }
        .left_effect {
          top: 35px;
          left: -35px;
        }
        .right_effect {
          top: 30px;
          right: -25px;
        }
      }
      .slider {
        position: relative;
        height: 225px;
        padding: 0px 5px;
        .slider_pages {
          width: 100%;
          img {
            display: none;
            width: 100%;
            height: 100%;
          }
        }
        .left, .right {
          width: 20px;
          height: 20px;
          position: absolute;
          background: #949494;
          top: 50%;
          transform: translate(0%, -50%);
          border: none;
          outline: none;
          cursor: pointer;
          padding: 0px;
          img {
            width: 50%;
            height: 50%;
            margin-top: 2px;
          }
        }
        .left {
          left: 20px;
        }
        .right {
          right: 20px;
        }
        @media (max-width:1650px) {
          height: 195px;
        }
        @media (max-width:1366px) {
        height: 175px;
      }
        @media (max-width:1170px) {
          height: 145px;
        }
      }
      .bet_now {
        position: absolute;
        z-index: 5;
        bottom: 10px;
        right: 15px;
        background: #eddc27;
        border: none;
        border-radius: 3px;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 23px;
        padding: 5px 10px;
        cursor: pointer;
        outline: none;
      }
    }
    .kinds_games {
      display: flex;
      flex-direction: row;
      color: #fff;
      .sport, .casino, .live_casino, .games {
        width: 24%;
        margin: 5px;
        position: relative;
        text-decoration: none;
        font-family: $font-mons;
        &:hover {
          box-shadow: inset 0px 0px 20px 5px #4ba8ad94;

        }
        &:hover .def {
          display: none;
        }
        &:hover .hov {
          display: block;
        }
        .def {
          width: 100%;
          height: 100%;
        }
        .hov {
          display: none;
          width: 100%;
          height: 100%;
        }
        .description {
          position: absolute;
          right: 10px;
          bottom: 12px;
          background: rgba(75, 168, 173, 0.71);
          padding: 5px 10px;
          h3 {
            color: #ffffff;
            font-weight: 600;
            font-size: 12px;
            text-transform: uppercase;
          }
          span {
            color: yellow;
            font-weight: 600;
            font-size: 10px;
          }
        }
      }
    }
    .content_text {
      position: relative;
      padding-bottom: 30px;
      p {
        color: #4a4b4a;
        font-size: 13px;
        font-weight: 500;
        overflow: hidden;
        height: 30px;
        padding: 0px 5px;
      }
      .arrow_btn {
        border: none;
        width: 12px;
        height: 12px;
        background: url("../images/arrows/down.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        bottom: 5px;
        left: 50%;
        margin-left: -8px;
        cursor: pointer;
        outline: none;
        transform: rotate(0deg);
        transition: transform 0.3s;
      }
      .btn_press {
        transform: rotate(-180deg);
        transition: transform 0.3s;
      }
    }
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 10px 5px;
      font-size: 10px;
      color: #ffffff;
      border-top: 1px solid #4a4b4a;
      .language {
        display: flex;
        align-items: center;
        h4 {
          margin: 0px;
          font-weight: 500;
          font-size: 14px;
        }
        .dd-container {
          margin-left: 5px;
          cursor: pointer;
          position: relative;
          padding: 3px;
          .dd-select {
            padding: 3px;
            &::after {
              content: '';
              width: 10px;
              height: 10px;
              background: url("../images/arrows/down_white.png");
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              position: absolute;
              z-index: 0;
              right: 30px;
              bottom: 8px;
              transform: rotate(0deg);
              transition: transform 0.3s;
            }
            .dd-selected {
              display: flex;
              flex-direction: row-reverse;
              justify-content: space-between;
              align-items: center;
              font-size: 13px;
            }
          }
          .dd-options {
            overflow-y: scroll !important;
            position: absolute;
            background: rgba(75, 168, 173, 0.91);
            height: 150px!important;
            width: 106px !important;
            padding: 0px;
            margin: 0px;
            list-style-type: none;
            &::-webkit-scrollbar {
              width: 5px;
            }
            &::-webkit-scrollbar-thumb {
              background: #2b7a7e;
              border-radius: 5px;
            }
            li {
              padding: 2px;
              height: 20px;
              .dd-option {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                cursor: pointer;
              }
              &:hover {
                background: #2b7a7e;
              }
              .dd-option-selected {
                background: #2b7a7e;
              }
            }
          }
        }
      }
      .footer_info {
        a {
          border-right: 1px solid #fff;
          padding-right:3px;
          text-decoration:none;
          color: #fff;
          font-size: 13px;
          &:last-child {
            border: none;
          }
        }

      }
      .smart_vec {
        display: none;
        position: absolute;
        overflow: hidden;
        right: 20px;
        bottom: 10px;
        img {
          width: 120%;
          height: 100%;
        }
      }
    }
    @media (max-width:650px) {
      .kinds_games {
        justify-content: center;
        flex-wrap: wrap;
        .sport, .games, .live_casino, .casino {
          width: 140px;
          height: 170px;
        }
      }
      .footer {
        padding-bottom: 100px;
        margin-bottom: 100px;
        .language {
          display: none;
        }
        .smart_vec {
          display: block;

        }
      }
    }
    @media (max-width: 450px) {
      .slider_outer {
        .effects {
          opacity: 1;
        }
        .slider {
          height: 175px;
          .slider_pages {
            width: 100%
          }
          .left {
            left: 10px;
          }
          .right {
            right: 10px;
          }
        }
        .bet_now {
          display: none;
        }
      }
      .kinds_games {
        .sport, .casino, .live_casino, .games {
          .def {
            display: none;
          }
          .hov {
            display: block;
          }
        }
      }
      .content_text {
        width: 300px;
        margin: 30px auto 10px auto;
        border-top: 1px solid #4a4b4a;
        .text_info {
          text-align: justify;
        }

      }
      .footer {
        width: 300px;
        margin: 0px auto 100px auto;
        .smart_vec {
          right: 13px;
          bottom: 20px;
        }
      }
    }
  }
  @media (max-width: 1650px) {
    .players {
      max-width: 700px;
      .foot_player {
        width: 430px;
        height: 450px;
        right: -345px;
        top: 30px;
      }
      .bask_player {
        left: -340px;
        height: 480px;
      }
      .big_yellow_line, .big_white_line{
        width: 1200px;
        animation: big_line_1650 1s;
        bottom: 110px;
      }
    }
    .content_inner {
      max-width: 700px;
    }
  }
  @media (max-width: 1366px) {
    .players {
      max-width: 625px;
      .bask_player {
        top: 0px;
      }
      .big_yellow_line, .big_white_line{
        width: 1100px;
        animation: big_line_1366 1s;
        bottom: 100px;
      }
    }
    .content_inner {
      max-width: 625px;
      .kinds_games {
        .games, .sport, .casino, .live_casino {
          .description {
            h3, span {
              font-weight: 600;
            }
            h3 {
              font-size: 11px;
            }
          }
        }
      }
      .content_text {
        p {
          font-size: 10px;
        }
      }
      .footer {
        .language {
          h4 {
            font-size: 10px;
          }
          .dd-container {
            .dd-select {
              .dd-selected {
                font-size: 10px;
              }
            }
          }
        }
        .footer_info {
          a, span {
            font-size: 10px;
          }
        }
      }
    }
  }
  @media (max-width: 1170px) {
    .players {
      max-width: 500px;
      .bask_player, .foot_player {
        height: 360px;
        width: 300px;
      }
      .foot_player {
        right: -255px;
      }
      .bask_player {
        left: -252px;
        top: 22px;
      }
      .big_yellow_line, .big_white_line {
        width: 900px;
        animation: big_line_1170 1s;
      }
      .big_white_line {
        bottom: 125px;
      }
      .big_yellow_line {
        bottom: 115px;
      }
    }
    .content_inner {
      max-width: 500px;
      .slider_outer {
        .bet_now{
          font-size: 20px;
        }
      }
      .kinds_games {
        .sport, .games, .casino, .live_casino {
          .description {
            right: 0px;
            bottom: 0px;
            padding: 2px 6px;
            h3 {
              font-size: 9px;
            }
            span {
              font-size: 9px;
            }
          }
        }
      }
      .content_text {
        .text_info {
          font-size: 9px;
        }
      }
      .footer {
        .language {
          h4 {
            font-size: 9px;
          }
        }
        .footer_info {
          a, span {
            font-size: 9px;
          }
        }
      }
    }
  }
  @media (max-width: 900px) {
    .players {
      .big_yellow_line ,.big_white_line ,.small_line_left ,.small_line_right {
        display: none;
      }
    }
  }
  @media (max-width: 800px) {
    .players {
      .bask_player,  .foot_player {
        display: none;
      }
    }
  }
  @media (max-width:650px) {
    background-size: inherit;
  }
  @media (max-width:450px) {
    padding-bottom: 0px;
    .content_inner {
      max-width: 310px;
      .slider_outer {
        .slider {
          max-width: 290px;
          margin: 0px auto;
        }
      }
    }
  }
}
.active {
  display: flex !important;
}
.unactive {
  display: none !important;
}
.crn_lang {
  background: #2b7a7e;
}
.btn_fon {
  background: rgba(75, 168, 173, 0.7) !important;
}
.show_more_text {
  height: 100% !important;
  overflow: visible !important;
}
.rotate_arrow_lang {
  &::after {
    transform: rotate(-180deg) !important;
    transition: transform 0.3s;
  }
}

@keyframes show_line {
  0% {
    width: 50px;
  }
  100% {
    width: 532px;
  }
}
@keyframes big_line {
  0% {
    width: 200px;
  }
  100% {
    width: 1500px;
  }
}
@keyframes big_line_1650 {
  0% {
    width: 200px;
  }
  100% {
    width: 1200px;
  }
}
@keyframes big_line_1366 {
  0% {
    width: 200px;
  }
  100% {
    width: 1100px;
  }
}
@keyframes big_line_1170 {
  0% {
    width: 200px;
  }
  100% {
    width: 900px;
  }
}